@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	background: linear-gradient(to bottom, #191A1E 0%, #000 100vh, #000 100%);
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #191A1E;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #888;
}

.no-select {
	-webkit-user-drag: none;
    -webkit-user-select: none;
	-moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}