@keyframes slideIn {
	0% {
		transform: translateX(100%);
		opacity: .5;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
  
@keyframes slideOut {
	0% {
		transform: translateX(0);
		opacity: .5;
	}
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}
  
.slide-in {
	animation: slideIn 1s ease-in-out forwards;
}

.slide-out {
	animation: slideOut 1s ease-in-out forwards;
}